OPENROUTER_API_KEY=YOUR_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=YOUR_API_KEY
LANGSMITH_PROJECT="LegalAIBot"
PINECONE_API_KEY=YOUR_API_KEY
HF_TOKEN=YOUR_API_KEY
PINECONE_CLOUD='aws'
PINECONE_REGION='us-east-1'
GOOGLE_API_KEY=YOUR_API_KEY